<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uptake</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header class="header">
    <h1 style="margin: 2px; font-size: 30px;">Uptake Notifier</h1>
</header>
<body>
    <div class="chat-container">
        <div id="chat-box">
            <div class="message"><strong>Notification Bot:</strong> What can I help you with?</div>
        </div>
        <input type="text" id="input-box" placeholder="Type your message..." autofocus>
    </div>

    <script>
       
    </script>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</html>
